In [ ]:
#TUPLES
tuple1=tuple(['apple','orange','banana','mango','kiwi'])
print("Enter the first element in the tuple")
print(tuple1[0])
print("Enter the last element in the tuple")
print(tuple1[-1])
print(tuple1[2:4])

Enter the first element in the tuple
apple
Enter the last element in the tuple
kiwi
('banana', 'mango')

In [ ]:
#SETS
set1 = set()
print("Empty set:")
print(set1)
set1 = set("BEGINNING")
print("\nset with the use of string")
print(set1)
set1 = set([1,-3,0,'SHWETHA','RIA'])
print("\nSet with mixed values:")
print(set1)

Empty set:
set()

set with the use of string
{'E', 'B', 'G', 'N', 'I'}

Set with mixed values:
{0, 1, 'RIA', 'SHWETHA', -3}

In [ ]:
#DICTIONARY
my_dict= {}
print("Empty dictionary")
print(my_dict)
my_dict = {1: 'apple', 2: 'orange'}
print("\nDictionary with integer keys")
print(my_dict)
my_dict = {'name' : 'Shwetha', 1 : [2,3,4]}
print("\nDictionary with mixed keys")
print(my_dict)
print("\n Length of the keys")
print(len(my_dict))
my_dict = dict([(1,'apple'),(2,'orange')])
print("\nsequence having each item as a pair")
print(my_dict)

Empty dictionary
{}

Dictionary with integer keys
{1: 'apple', 2: 'orange'}

Dictionary with mixed keys
{'name': 'Shwetha', 1: [2, 3, 4]}

 Length of the keys
2

sequence having each item as a pair
{1: 'apple', 2: 'orange'}

In [ ]:
#OOPS
#class and objects

class Animal:

  #class attribute
  name = ""
  age = 0

  #create dog1 object
dog1 = Animal()
dog1.name = "Labrador"
dog1.age = 2

  #create another object dog2
dog2 = Animal()
dog2.name = "Pug"
dog2.age = 3

  #access attributes
print(f"{dog1.name} is {dog1.age} years old")
print(f"{dog2.name} is {dog2.age} years old")

Labrador is 2 years old
Pug is 3 years old

In [ ]:
#Inheritance
# base class
class Animal:

    def eat(self):
        print( "I can eat!")

    def sleep(self):
        print("I can sleep!")

# derived class
class Dog(Animal):

    def bark(self):
        print("I can bark! Woof woof!!")

# Create object of the Dog class
dog1 = Dog()

# Calling members of the base class
dog1.eat()
dog1.sleep()

# Calling member of the derived class
dog1.bark();

I can eat!
I can sleep!
I can bark! Woof woof!!

In [9]:
#polymorphism
class Bird:
  def intro(self):
    print("There are many types of birds.")

  def flight(self):
    print("Most of the birds can fly but some cannot.")

class sparrow(Bird):
  def flight(self):
    print("Sparrows can fly.")

class ostrich(Bird):
  def flight(self):
    print("Ostriches cannot fly.")

obj1= Bird()
obj2 = sparrow()
obj3= ostrich()

obj1.intro()
obj1.flight()

obj2.intro()
obj2.flight()

obj3.intro()
obj3.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In [11]:
#Abstraction
from abc import ABC, abstractmethod

class Animal:
  def move(self):
    pass

class Human(Animal):
  def move(self):
    print("Humans can walk and run")

class Snake(Animal):
  def move(self):
    print("Snakes can crawl")

class Dog(Animal):
  def move(self):
    print("Dogs can bark")

H = Human()
H.move()

S = Snake()
S.move()

D = Dog()
D.move()

Humans can walk and run
Snakes can crawl
Dogs can bark

In [12]:

#ENCAPSULATION
class Computer:

    def __init__(self):
        self.__maxprice = 900

    def sell(self):
        print("Selling Price: {}".format(self.__maxprice))

    def setMaxPrice(self, price):
        self.__maxprice = price

c = Computer()
c.sell()

# change the price
c.__maxprice = 1000
c.sell()

# using setter function
c.setMaxPrice(1000)
c.sell()

Selling Price: 900
Selling Price: 900
Selling Price: 1000